*{
	margin: 0;
	paddind: 0;
	font-size: 14px;
	font-family: "微软雅黑";
}
a{
	text-decoration: none;
}
a:hover,
button:hover{
	cursor: pointer;
}
body{
	
	background: url(../images/bodybg.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;
}
#box2{
	width: 1077px;
	/*height: 650px;*/
	margin: 0 auto;
	position: relative;
	box-shadow: #a6a6a6 3px 3px 15px;
	background-color: rgba(255,255,255,0.8);
}
.nav{
	width: 120px;
    position: absolute;
    margin-top: 115px;
    margin-left: -150px;
}
.nav ul{
	list-style: none;
	padding: 0;
}
.nav ul li{
    width: 157px;
    height: 50px;
    display: block;
}
#li0{
	background: url(../images/nav0.png) no-repeat;
}
#li0:hover{
	background: url(../images/nav0_2.png) no-repeat;
}
#li1{
	/*background: url(../images/nav1.png) no-repeat;*/
	background: url(../images/nav1_2.png) no-repeat;
}
/*#li1:hover{
	background: url(../images/nav1_2.png) no-repeat;
}*/
#li2{
	background: url(../images/nav2.png) no-repeat;
}
#li2:hover{
	background: url(../images/nav2_2.png) no-repeat;
}
#li3{
	background: url(../images/nav3.png) no-repeat;
}
#li3:hover{
	background: url(../images/nav3_2.png) no-repeat;
}
#li4{
	background: url(../images/nav4.png) no-repeat;
}
#li4:hover{
	background: url(../images/nav4_2.png) no-repeat;
}
#li5{
	background: url(../images/nav5.png) no-repeat;
}
#li5:hover{
	background: url(../images/nav5_2.png) no-repeat;
}
.logo{
	width: 150px;
    position: absolute;
    margin-top: 20px;
    margin-left: 1085px;
}
.logo img{
	width: 120px;
	height: 120px;
}
.sign{
	width: 263px;
    float: right;
    margin-top: -332px;
    z-index: 2;
    position: relative;
}
.record_t{
	position: absolute;
	top: 25px;
    left: 70px;
}
#spare{
	width: 100%;
	height: 100px;
}
#action_show{
	width: 997px;
    height: 550px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    margin-left: 78px;
    background: url(../images/fly.png) no-repeat; 
}
